<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <payanyway>
                <model>PayAnyWay\PayAnyWay\Model\PayAnyWay</model>
                <group>offline</group>

                <active>1</active>
                <title>PayAnyWay</title>
                <payment_action>demo.moneta.ru</payment_action>
                <mnt_test_mode>1</mnt_test_mode>
                <mnt_kassa>1</mnt_kassa>
                <mnt_id />
                <mnt_dataintegrity_code backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </payanyway>
        </payment>
    </default>
</config>
